# IntelliJ files
*.iml
.idea/

# Trace files
/captures

# Build files
/build
/release
*.apk

# Gradle files
.gradle

# Local configuration file (sdk path, etc)
/local.properties

# OS files
.DS_Store

# Other
.externalNativeBuild

